/* NOVEDADES */

.nuevos_lanzamientos{
    .nuevos_lanzamientos_item{
        font-size: $text-sm;
        color: $secondary;
        display: inline-block;
    }
    .titulo{
        justify-items: center;
        display: grid;
    }
}
iframe{
    width: 100%;
}
.trailers {
    .titulo{
        justify-items: center;
        display: grid;
    }
}
